<div class="home-container">
    <section class="home-section">
        <div class="image-container">
            <img src="https://t3.ftcdn.net/jpg/02/71/77/56/360_F_271775672_yo8ZgraN2IHGbfqP2k0PsLjwvmatUNUJ.jpg" alt="">
            <div class="text-overlay">
                <div class="container text-center">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <h1>Hello Shopsy !</h1>
                            <p>Discover A - Z products </p>
                            <button style="background-color: orange;" class="orange-button btn-lg" (click)="onShop()">Shop
                Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>